*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 70px !important;
}

ul{
    list-style-type: none;
}
/*
div.nav{
    background-color:#eeeeee ;
    border-bottom: 1px solid #cccccc;
    padding: 10px 5px;
}
div.nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;

}
div.nav a.logo{
    display: inline-block;
    font-size: 120%;

}

 */
ul.navbar-right{
    margin-right: 0;
}

div.footer{
    margin-top: 3em;
    background-color: #eeeeee;
    color: #555555;
}
div.website-info{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 0;
}
div.website-info p{
    margin-bottom: 0;

}